{% extends 'base.html.twig' %}
{#https://www.tutorialspoint.com/symfony/symfony_ajax_control.htm#}
{% block javascripts %}
    <script type="javascript"
            src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <script type="javascript">
        $(document).ready(function(){
            $("#download-field").on("click", function(event){
                $.ajax({
                    url:        '/_ajax/deck/{{ deck.uid }}',
                    type:       'POST',
                    dataType:   'json',
                    async:      true,

                    success: function(data, status) {
                        let jobStatus = data['jobStatus'];
                        let jobStatusName = 'Unknown (an error occurred)';
                        let downloadLink = '';
                        switch (jobStatus) {
                            case {{ deck.JOB_UNSTARTED }}: // Not started
                                jobStatusName = 'Not started';
                                break;
                            case {{ deck.JOB_STARTED }}: // Started
                                jobStatusName = 'Started';
                                break;
                            case {{  deck.JOB_SUCCESSFUL }}: // Complete
                                jobStatusName = 'Complete';
                                downloadLink = {{ deck.getLocalFilename() }}
                                $(this).html('<a href="#">Download Deck</a>');
                                $(this).attr('href',downloadLink);
                                break;
                        }
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    <p id="download-field">Test</p>
{% endblock %}