{# templates/deck/download.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}TTS Deck Factory{% endblock %}

{% block body %}
	<div class="title"><h3>Downloading "{{ deck.name }}.json"...</h3></div>
	<div class="content">
		<p>
			The first time you download this deck, you'll need to wait about a second per card for the file to be prepared.
		</p>
		<p>
			You're on the shiny new site, so you can refresh this page without causing any problems,
			and you may revisit this page to download your deck again without waiting (until the admin cleans up at an arbitrary time).
		</p>
		<p>
			While you're waiting, you may as well check that the provided information is correct (links open in new tab).
		</p>
		<p>
			Decklist URL: <a href="{{ deck.listUrl }}" target="_blank">{{ deck.name }}</a> <br>
			Cardback:
			{% if deck.backUrl %}
				<a href="{{ deck.backUrl }}" target=\"_blank\">{{ deck.backUrl }}</a>
			{% else %}
				[Default]
			{% endif %}
		</p>
		<p>Job Status: <span id="job-status">Unchecked</span></p>
		<div id="download-field"
			 data-ajax-path = "{{ path('ajax.deck.status', {deckUid: deck.uid}) }}"
			 data-filename = "{{ deck.getFinalFilename() }}"
		>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{  parent() }}
	{{ encore_entry_script_tags('deck-status') }}
{% endblock %}